<li class="character_assignment">
	<% remote_form_for character_form, :url => wow_update_characters_path do |form| %>
	Realm: <%= form.text_field :realm %> <br />
	Character: <%= form.text_field :name %><br />
	<span class="confirmation"></span>
	<% end %>
</li>