<h2>World of warcraft characters</h2>
<p>Hey, leuk dat je ook World of Warcraft speelt, zouden we ook je characters mogen weten?</p>
<ul class="character-list">
	<%= render :collection => @character_entries, :partial => "character_form" %>
	<li>Nog een character toevoegen</li>
</ul>