<h2>Registreren bij Fryingdutch.net</h2>

<p>
	Leuk dat je je aan wilt melden bij Fryingdutch.net!<br />
	Helaas is er helemaal geen registratie proces bij TFD! Je kan namelijk meteen inloggen.<br />
	Fryingdutch maakt gebruikt van OpenID, dat is een manier zodat je makkelijk je 
	online profiel kan beheren op 1 centrale plek, en die op meerdere sites kan gebruiken!<br />
	Zo hoef je niet op al die sites die men ondertussen in zijn digitale leven gebruikt steeds 
	gegevens zoals email adres te wijzigen!<br /><br />
	
	<%= link_to "Ik wil graag meer informatie over OpenID!", "http://openid.net/", :class => "external" %><br />
	<%= link_to "Ik heb nog geen OpenID, waar kan ik er een krijgen?", "http://openid.net/get/", :class => "external" %><br />
</p>

<h2>Ik snap er geen reet van en OpenID interresseert me niet! Hoe kom ik in de site?</h2>
<ol>
	<li>Controleer via het selectie vak boven of je er niet stiekum al een hebt.</li>
	<li>Indien van niet, ga naar <%= link_to "http://www.myopenid.com/", "http://www.myopenid.com/", :class => "external" %></li>
	<li>Kies "Sign up for an OpenID" en volg de instructies</li>
	<li>Plaats je OpenID adres in het vak bovenin</li>
	<li>Log in</li>
</ol>
