<table class="topic-list">
	<caption>Onderwerpen</caption>
	<thead>
		<tr>
			<td colspan="2">Forum topic</td>
			<td>Replies</td>
			<td>Views</td>
			<td>Author</td>
			<td>Last post</td>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => @topics %>
	</tbody>
</table>