<tr id="<%=dom_id topic %>">
	<td><!-- state --></td>
	<td><!-- icon --></td>
	<td>Naam</td>
	<td><!-- replies --></td>
	<td><!-- views --></td>
	<td><!-- author --></td>
	<td><!-- last post --></td>
</tr>