<h1>Screenshot / Usershot toevoegen</h1>

<% form_for @screenshot, :url => game_screenshots_path(@game), :html => { :method => :post, :multipart => true } do |f| %>
	<%= f.error_messages %>
  <% f.fields_for @screenshot.content do |s| %>
	<p>
    <label for="mugshot">Afbeelding:</label>
    <%= s.file_field :uploaded_data %>
  </p>
	<p>
    <label for="description">Beschrijving:</label>
    <%= s.text_area :description %>
  </p>
	<% end %>
  <p>
    <%= f.submit 'Toevoegen' %>
  </p>
<% end -%>
