<%= link_to "Nieuw onderwerp", new_topic_path(@board) if current_user %>

<table class="topic-list">
	<caption>Onderwerpen</caption>
	<thead>
		<tr>
			<td colspan="3">Forum topic</td>
			<td>Replies</td>
			<td>Author</td>
			<td>Last post</td>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => @topics %>
	</tbody>
</table>

<%= link_to "Nieuw onderwerp", new_topic_path(@board) if current_user %>
