<%= link_to "Nieuw onderwerp", new_topic_path(@board) if current_user %>

<table class="topic-list">
	<caption>Onderwerpen</caption>
	<thead>
		<tr>
			<td colspan="3">Onderwerp</td>
			<td>Reacties</td>
			<td>Auteur</td>
			<td>Laatste bericht</td>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => @topics %>
	</tbody>
</table>

<%= link_to "Nieuw onderwerp", new_topic_path(@board) if current_user %>
