	<% if current_user %>
		<div class="edit_content">
		<% remote_form_for @text_comment, :url => game_comment_path(@game, @comment), :html => { :method => :put } do |f| %>
			<%= f.text_area :comment, :rows => 3 %>
			<%= f.submit "OK" %>
			<%= button_to_function "Annuleren" do |page|
		          page["##{dom_id(@comment)} .edit_content"].hide
		          page["##{dom_id(@comment)} .comment_options"].show
		          page["##{dom_id(@comment)} .message"].show
  			end %>
		<% end %>
		</div>
	<% end %>
