
.board.tile {
	width: 300px;
	border: 1px solid #444444;
	margin: 3px;
	float: left;
	padding: 4px;
}
hr.clear {
	clear: both;
	
}



/**
 * The old style, remove if done
 */

table.board-list {
	width: 100%;
}
table.board-list thead td {
	font-weight: bold;
}
table.board-list tbody th {
	text-align: left;
}
table.topic-list {
	width: 100%;
}
table.topic-list caption {
	margin-top: 20px;
}
table.topic-list tbody th {
	text-align: left;
}
table.topic-list tbody td.icon {
	width: 30px;
}
table.topic-list tbody td.replies,
table.topic-list tbody td.views {
	width: 50px;
	text-align: right;
}
table.topic-list tbody td.author {
	width: 80px;
	text-align: center;
}
table.topic-list tbody td.last_post {
	width: 120px;
}

.topic .footer .avatar,
.topic .user_info {
	float: left;
}
.topic hr {
	clear: both;
}

