
table.board-list {
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
}
table.board-list td,
table.board-list th {
	border: 1px solid black;
}
table.board-list caption {
	margin-top: 20px;
	font-size: larger;
	font-weight: bold;
	text-align: left;
}
table.board-list thead td {
	background-color: #cccccc;
	font-weight: bold;
}
table.board-list tbody th {
	text-align: left;
}



table.topic-list {
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
}
table.topic-list td,
table.topic-list th {
	border: 1px solid black;
}
table.topic-list caption {
	margin-top: 20px;
	font-size: larger;
	font-weight: bold;
	text-align: left;
}
table.topic-list thead td {
	background-color: #cccccc;
	font-weight: bold;
}
table.topic-list tbody th {
	text-align: left;
}
