#game_list {
	width: 75%;
	float: left;
}

.sidecolumn {
	float: left;
	padding: 10px;
	width: 20%;
}
.sidecolumn h2 {
	margin: 0;
}

a#add_game {
	padding: 5px;
	background-color: #999999;
	color: #FFFFFF;
}

form#new_game, 
form.edit_game {
	border: 2px solid #999999;
	background-color: #eeeeee;
	padding: 15px;
	margin-bottom: 10px;
}

form#new_game .textfield,
form.edit_game .textfield {
	background-color: #eeeeee;
	border: 1px solid #999999;
}

form#new_game .name,
form.edit_game .name {
	font-size: 1.4em;	
}

form#new_game textarea,
form.edit_game textarea {
	background-color: #eeeeee;
	border: 1px solid #999999;
}

.game {
	border: 2px solid #999999;
	background-color: #eeeeee;
	padding: 8px;
	margin-bottom: 10px;
}
.game h2 {
	padding: 0;
	margin: 0;
	padding: 5px;
}
.game p.description {
	width: 200px;
	padding: 5px;
	background-color: #dddddd;
}

.averagerating.box {
	width: 125px;
	height: 25px;
	margin: 5px 0 5px 0;
	background: transparent url(/images/ratings/star_empty.png) top left repeat-x;
}
.averagerating.score1 {
	height: 25px;
	background: transparent url(/images/ratings/star.png) top left repeat-x;
}

p.rating_label {
	display: inline-block;
}

.userrating.box {
	display: inline-block;
	width: 80px;
	height: 16px;
	background: transparent url(/images/ratings/star_empty_small.png) top left repeat-x;
}
.userrating.score1 {
	height: 16px;
	background: transparent url(/images/ratings/star_small.png) top left repeat-x;
}
.userrating.score2 {
	height: 16px;
	background: transparent url(/images/ratings/star_rating_small.png) top left repeat-x;
}

.game .column {
	padding: 2px;
	position: relative;
	float: left;
}

.game .game_menu {
	clear: both;
	display: block;
	padding: 0;
	margin: 4px 0 0 0;
	height: 2em;
}

.game .game_menu li {
	display: block;
	float: left;
	padding: 4px;
	margin-right: 4px;
	background-color: #dddddd;
}

.game .game_menu li a {
	color: black;
	text-decoration: none;
}

.cloud1 { font-size: 1.0em; }
.cloud2 { font-size: 1.2em; }
.cloud3 { font-size: 1.4em; }
.cloud4 { font-size: 1.6em; }

.cloud1, .cloud2, .cloud3, .cloud4 { 
	color: #000000;
}

.game .tags a {
	color: black;
}

.showall {
	margin-bottom: 10px;
}

.imagebar {
	display: block;
	height: 90px;
	padding: 0;
	margin: 4px 0 0 0;
}
.imagebar li {
	display: block;
	float: left;
	padding: 4px;
	margin-right: 4px;
	background-color: #dddddd;
	width: 100px;
	height: 75px;
}
