body {
	background-color: #eeeeee;
}

.body {
	background-color: #ffffff;
}

.header, .footer {
	background-color: #dddddd;
}

.footer {
	color: #888888;
}

#user_header {
	border: 2px solid #999999;
	background-color: #eeeeee;
}

#mainmenu {
	background-color: black;
}
#mainmenu li {
	border-right: 1px dotted #999999;
}
#mainmenu a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}
/**
 * Board.css
 * 
 */

table.board-list {
	border: 1px solid black;
	border-collapse: collapse;
}
table.board-list td,
table.board-list th {
	border: 1px solid black;
}
table.board-list caption {
	margin-top: 20px;
	font-size: larger;
	font-weight: bold;
	text-align: left;
}
table.board-list thead td {
	background-color: #cccccc;
}
table.topic-list {
	border: 1px solid black;
	border-collapse: collapse;
}
table.topic-list td,
table.topic-list th {
	border: 1px solid black;
}
table.topic-list caption {
	font-size: larger;
	font-weight: bold;
	text-align: left;
}
table.topic-list thead td {
	background-color: #cccccc;
	font-weight: bold;
}
