html, body {
	padding: 0;
	margin: 0;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
}
a.aurial {
	display: none;
}
p {
	padding: 0;
	margin: 0;
}

.body {
	width: 1000px;
	margin: 5px auto 5px auto;
}

.header {
	height: 80px;
}

.footer {
	font-size: 0.7em;
	text-align: center;
	padding: 3px;
}

.header h1 {
	width: 296px;
	height: 44px;
	text-indent: -1000px;
	background: url(/images/default/logo.png) no-repeat;
	float: left;
}

#user_header {
	padding: 3px;
	height: 60px;
	float: right;
	margin: 5px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#user_header .stats {
	height: 50px;
	padding: 4px;
	margin-right: 4px;
	float: left;
}

#user_header .avatar {
	margin-top: 4px;
	float: left;
}

#user_menu {
	height: 50px;
	padding: 4px;
	margin-right: 4px;
	float: left;
}

#user_menu input#openid_identifier {
	font-size: 1.2em;
	border: 1px solid #dddddd;
	background-color: #eeeeee;
	font-weight: bold;
}
#user_menu label {
	font-size: 1.2em;
	font-weight: bold;
}

#mainmenu {
	padding: 0;
	margin: 0;
	display: block;
	height: 30px;
}
#mainmenu li {
	float: left;
	padding: 5px;
	display: block;	
}
.content {
	padding: 10px;
}
.pagebottom {
	clear: both;
}
.explanation {
	font-style: italic;
}
.play_options {
	clear: left;
	float: left;
	margin-bottom: 10px;
}


a.external {
	color: #3366BB;
}
a.external {
	background: transparent url(/images/external.png) no-repeat scroll right center;
	padding-right: 13px;
}
a.external:hover {
	text-decoration:underline;
}

.flash.message {
	border: 1px solid #99BB99;
	background-color: #DDFFDD;
}

dt {
	font-size: 130%;
}

#login_header {
	padding: 3px;
	float: right;
	margin: 50px 5px 5px 5px;
}

.board.tile {
	background-color: #EEEEEE;
	border: 2px solid #999999;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.board.tile a {
	color: black;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
}
.board.tile dd {
	margin: 0;
	color: #888888;
	padding: 0;
	font-size: 0.7em;
}

#mainmenu li#search {
	float: right;
}
#mainmenu li#search input {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #333333;
	background-color: #555555;
	color: #dddddd;
	width: 120px;
}
#mainmenu li#search input.empty {
	font-style: italic;
}
#mainmenu li#search input.searching {
	background: #555555 url("/images/default/search-loader.gif") center right no-repeat; 
}

#search_result {
	position: absolute;
	top: 115px;
	width: 1000px;
	margin: 0px auto 0px auto;
	z-index: 1000;
}

#search_result .results {
	width: auto;
	padding: 5px;
	background: #EEEEEE;
	border: 2px solid #999999;
	float: right;
}

#search_result .results h4 {
	margin: 0;
}
#search_result .results ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

#message_menu ul {
	padding: 4px;
	margin: 0;
	list-style: none;
}
#message_menu li {
	padding: 4px;
	margin: 0;
}
#message_menu {
	width: 200px;
	float: left;
}
#messagemain {
	width: 600px;
	margin-left: 200px;
}
