<table class="board-list">
	<caption>Listing boards</caption>
	<thead>
		<tr>
			<td colspan="2">Forum</td>
			<td>Topics</td>
			<td>Last post</td>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => @boards %>
	</tbody>
</table>

<br />

<%= link_to 'New board', new_board_path if current_user %>
