	<p class="rating_label">Mijn mening:</p>
	<div class="userrating box">
		<div class="userrating score1" style="width: 50px;"></div>
	</div>
	<p>
		<%= link_to_remote "Ik speel dit spel ook", :url => user_add_game_path(current_user, game) unless current_user.games_playing.include? game %>
		<%= link_to "Ik ben gestopt met dit spel", "#" if current_user.games_playing.include? game %>
	</p>