<h2>Spellen</h2>
<div id="game_list">
	<%= render :partial => "game", :collection => @games %>
	<%= link_to_remote "Voeg een spel toe", :url => new_game_path, :html => { :id => "add_game" } if current_user %>
</div>
<div class="sidecolumn">
	<h2>Tags:</h2>
	<% tag_cloud @tags, %w(cloud1 cloud2 cloud3 cloud4) do |tag, css_class| %>
		<%= link_to tag.name, games_by_tagname_path(tag.name), :class => css_class %>
	<% end %>
</div>
