<li class="character_assignment">
	Realm: <input type="text" name="realm" size="15" value="(autocomplete)" /> <br />
	Character: <input type="text" name="character" size="15" value="(autocomplete)" /><br />
	<span class="confirmation">Level 30 blood elf rogue</span>
</li>