<h1>Editing board</h1>

<% form_for(@board) do |f| %>
	<%= render :partial => f %>
  <p>
    <%= f.submit "Opslaan" %>
  </p>
<% end %>

<%= link_to 'Show', @board %> |
<%= link_to 'Back', boards_path %>
