<ol class="shoutbox">
	<% if current_user %>
	<li class="new_comment">
		<%= render :partial => "user_info", :object => current_user, :locals => { :user_link_menu => false } %>
		<div class="message">
			<% remote_form_for @text_comment, :url => game_comments_path(@game), :html => { :method => :post } do |f| %>
				<%= f.text_area :comment, :rows => 1 %>
				<%= f.submit "Toevoegen", :disabled => true %>
			<% end %>
		</div>
		<hr />
	</li>
	<% end %>
	<%= render :partial => @comments %>
</ol>
